*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "San Francisco", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  background-color: #F4F6F9;
}

.red {
  color: #F5222D;
}

.green {
  color: #52C41A;
}

.hidden {
  display: none;
}

.chart-iframe {
  width: 100%;
  height: 73vw;
  display: block;
}

.auxiliary-font {
  font-size: 3.2vw;
  opacity: 0.65;
  font-weight: 300;
}

.border-font {
  display: inline-block;
  width: auto;
  border: 1px solid rgba(255,255,255,.45);
  border-radius: 2px;
  /* height: 4.266667vw; */
  line-height: 4.266667vw;
  padding: 0 2px;
}

.main-font {
  font-size: 7.2vw;
}

.flex {
  display: flex;
}

.flex div {
  width: 50%;
}

.status-container {
  position: relative;
  height: 42vw;
  padding: 3.2vw 4.266666666666667vw;
  margin-bottom: 3.2vw;
  color: #fff;
  background-image: linear-gradient(-132deg, #935EFF 0%, #6C57FF 64%, #625EFF 100%);
}

.cut-off-container {
  position: absolute;
  left: 4.266666666666667vw;
  right: 4.266666666666667vw;
  bottom: 0;
  height: 9.6vw;
  border-top: 1px solid #85A5FF;
}

.diagnose-container {
  position: relative;
  margin-top: 4vw;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
  height: 104vw;
}

.title-container {
  height: 12vw;
  line-height: 12vw;
  padding-left: 4.266666666666667vw;
  font-size: 4.266666666666667vw;
  border-bottom: 1px solid #E8E8E8;
}

.sum-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vw;
  text-align: center;
}

.chart-container {
  position: relative;
}

canvas {
  width: 100%;
  height: 70.4vw;
}

.chart-card {
  width: 100%;
  padding: 0;
  margin-bottom: 3.2vw;
  background: #fff;
}

.chart-card-title {
  width: 100%;
  height: 12vw;
  box-shadow: 0 1px 0 0 #E8E8E8;
  padding: 0 4.267vw;
  color: rgba(0, 0, 0, .85);
  font-size: 4.267vw;
  /* font-weight: bold; */
  line-height: 12vw;
  vertical-align: middle;
}

.chart-card-footer {
  width: 100%;
  height: 10.667vw;
  line-height: 10.667vw;
  vertical-align: middle;
  box-shadow: 0 1px 0 0 #E8E8E8, 0 -1px 0 0 #E8E8E8;
  background-color: #FBFBFC;
}
.tab {
   width: 100%;
   height: 10.6667vw;
   line-height: 10.6667vw;
   vertical-align: middle;
   overflow-x: hidden;
   box-shadow: 0 1px 0 0 #E8E8E8;
 }

 .tab .time-button, .tab .item-button {
   font-size: 3.467vw;
   color: #808080;
   background-color: #FBFBFC;
   height: 10.6667vw;
   text-align: center;
   float: left;
   font-weight: normal;
   white-space: nowrap;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border: none;
   margin: 0;
   padding: 0;
   border-top: 1px solid #E8E8E8;
 }

.tab .item-button {
  font-size: 4.267vw;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 300;
  border-top: none;
}

 .tab .time-button.focus,
 .tab .time-button:focus,
 .tab .item-button.focus,
 .tab .item-button:focus  {
   outline: 0;
 }

 .tab .time-button:focus,
 .tab .time-button:hover,
 .tab .item-button:focus,
 .tab .item-button:hover {
   text-decoration: none;
 }

 .tab .time-button.active {
   background: #fff;
   color: #2e2e2e;
   border-top: 1px solid #FFFFFF;
   border-left: 1px solid #e8e8e8;
   border-right: 1px solid #e8e8e8;
 }

 .tab .time-button.active:first-child {
   border-left: 1px solid #FFFFFF;
 }

 .tab .time-button.active:last-child {
   border-right: 1px solid #FFFFFF;
 }

.tab .item-button.active {
  padding-top: 1.5px;
  color: #2772FF;
  border-bottom: 1.5px solid #2772FF;
 }

.button-20 {
  width: 20%;
}
.button-25 {
  width: 25%;
}
.button-50 {
  width: 50%;
}

    .table {
      width: 100%;
      background-color: #fff;
      border-collapse: collapse;
    }

    .table thead {
      color: rgba(0, 0, 0, .45);
    }

    .table tr {
      height: 9.06667vw;
    }

    th, td {
      font-weight: normal;
      font-size: 3.2vw;
      /* padding: 0 4.267vw; */
      text-align: center;
    }
    th:first-child, td:first-child {
      padding-left: 4.267vw;
    }

    th:last-child, td:last-child {
      padding-right: 4.267vw;
    }

    td {
      color: #2e2e2e;
    }

    th:first-child, td:first-child {
      text-align: start;
    }

    th:last-child, td:last-child {
      text-align: end;
    }

    th {
      border-top: 1px solid rgba(0, 0, 0, .09);
    }

    td, th {
      border-bottom: 1px solid rgba(0, 0, 0, .09);
    }


.chart-legend {
  height: 12vw;
  padding: 3.2vw;
  font-size: 3.2vw;
  color: #808080;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.chart-legend-title {
  display: none;
}

.item {
  width: 33%;
  margin: 1px 0;
}

.item span {
  display: inline;
}

.item span.item-marker {
  display: inline-block;
  width: 6px;
  height: 2px;
  margin-right: 2px;
  margin-top: -1px;
  border-radius: 3px;
  vertical-align: middle;
  opacity: 0.5;
}

.item span.item-marker-point {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 2px;
  margin-top: -1px;
  border-radius: 50%;
  vertical-align: middle;
}

.item-value {
  color: #2E2E2E;
}

.tooltip-wrapper {
  position: absolute;
  visibility: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 16vw;
  background: #E9F1FF;
  padding: 3.2vw 3.2vw 0;
  z-index: 10;
  transition: visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.tooltip-title {
  font-size: 3.2vw;
  line-height: 4vw;
  height: 4vw;
  color: #2e2e2e;
  margin-bottom: 8px;
}

.tooltip-content {
  font-size: 3.2vw;
  color: #808080;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#dealMoney {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bar {
    width: 100%;
    height: 12vw;
    line-height: 12vw;
    text-align: center;
    color: #2E2E2E;
    font-size: 3.7333vw;
    background: #fff;
}

.button-group {
  height: 13.33333vw;
  width: 100%;
}
